.whiteKey {
  -fx-background-color: white;
  -fx-text-fill: black;
  -fx-border-color: black ;
    -fx-border-width: 3 ; 
    -fx-font-family: "Helvetica";
    -fx-font-weight: bold;
    -fx-font-size: 15pt ;
}